<form action="/dashboard/notes/edit/<%= note._id %>?_method=put" method="post" id="app-dashboard-container-edit-note">
    <div id="app-dashboard-container-edit-note_header_top">
        <div id="app-dashboard-container-edit-note_buttons">
            <button id="save-note-btn" class="app-dashboard-btns">Save</button>
            <span id="share-note-btn" class="app-dashboard-btns" onClick="shareNote()">Share</span>
            <a id="cancel-note-btn" class="app-dashboard-btns" href="/dashboard">Cancel</a>
        </div>
    </div>
    
    <div id="app-dashboard-container-edit-note_header">
        <input type="text" name="title" id="note-title" value="<%= note.title %>">

        <div id="app-dashboard-container-edit-note_header_options">
            <!-- <div id="app-dashboard-container-edit-note_header_date">
                <span id="note-creation-date">Created on: DATE HERE</span>
            </div> -->

            <div id="app-dashboard-container-create-note_header_category">
                <% if(categories !== []) { %>
                    <select name="category" id="select-category">
                        <option selected hidden value="<%= note.category._id %>"><%= note.category.name %></option>
                        <% categories.forEach(function(category) { %>
                            <option value="<%= category._id %>"><%= category.name %></option>
                        <% }); %>
                    </select>
                <% } %>      
                <span id="add-category-btn" onClick="addNewCategory()">
                    <i class="fa fa-plus"></i>
                </span>    
            </div>
        </div>
    </div>

    <div id="app-dashboard-container-edit-note_textarea">
        <textarea name="body" id="note-body"><%= note.body %></textarea>
    </div>
</form>